<div id="main">
	<div class="palm-page-header" style="padding:5px">
		<div class="palm-page-header-wrapper">
			<div class="header" id="title" align="center">SMS Counter</div>
		</div>
	</div>
	<div class="about">
		<div class="info">
		Version: 0.0.5<br/>
		Require: "SMSCounter Daemon" find in Preware feed: <a href="http://daslampe.lano-crew.org/webOs">http://daslampe.lano-crew.org/webOs</a><br/>
		Information: Can take 5 min. before changed active.
		<br/><br/>
		Found a Bug? Send an email to daslampe@lano-crew.org.
		</div>
		<div class="copyright">
		&copy; <a href="http://daslampe.lano-crew.org/">DasLampe</a>
		</div>
	</div>
</div>
