<div id="main">
	<div class="palm-page-header" style="padding:5px">
		<div class="palm-page-header-wrapper">
			<div class="header" id="title" align="center">SMS Counter</div>
		</div>
	</div>
	
	<div id="warning"></div>
	
	<div class="palm-list" style="padding: 5px;">
		<div class="palm-group-title">
			Sending SMS
		</div>
		<div class="palm-row">
				<div class="label" style="margin-top: 3px">Today</div>
				<div id="smsDay"></div>
		</div>
		<div class="palm-row">
			<div class="label" style="margin-top: 3px">Month</div>
			<div id="smsMonth"></div>
		</div>
		<div class="palm-row">
			<div class="label" style="margin-top:3px">Total</div>
			<div id="smsAll"></div>
		</div>
		<div class="palm-row">
			<div class="label" style="margin-top:3px">Last Update</div>
			<div id="lastUpdate"></div>
		</div>
	
	<div id="app-footer" style="text-align: center">
		&copy; 2011 <a href="http://daslampe.lano-crew.org">DasLampe</a>
	</div>
</div>
